.DS_Store
.idea
.phpunit.result.cache
.vscode
build
composer.lock
coverage
node_modules
phpunit.xml
phpstan.neon
testbench.yaml
vendor
/.phpunit.cache/code-coverage/14f081e16823f17ff4170e37524d642b
/.phpunit.cache/test-results
