.DS_Store
.idea
.phpunit.result.cache
.vscode
build
composer.lock
coverage
node_modules
phpunit.xml
phpstan.neon
testbench.yaml
vendor
/.phpunit.cache/code-coverage/*
/.phpunit.cache/test-results
/.phpunit.cache/code-coverage/98d511a2b735ad99222dc76f1215ac865c28cbe13fb29a113da3b77435bfde41
